[Unit]
Description=TranslatorBot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=2s
MemoryLimit=1G
User=root
Group=root
WorkingDirectory=/home/age_2023/Saidazimxon/cyber-bot
ExecStart=/usr/bin/python3 /home/age_2023/Saidazimxon/cyber-bot/main.py

[Install]
WantedBy=multi-user.target
