[Unit]
Description=TranslatorBot
After=syslog.target
After=network.target

[Service]
Restart=always
RestartSec=2s
MemoryLimit=1G
User=root
Group=root
WorkingDirectory=/root/Bot
ExecStart=/root/Bot/venv/bin/python3 /root/Bot/main.py

[Install]
WantedBy=multi-user.target