[Unit]
Description=CyberBot
After=network.target

[Service]
Type=simple
ExecStart=/home/age_2023/Saidazimxon/cyber-bot/venv/bin/python /home/age_2023/Saidazimxon/cyber-bot/main.py
WorkingDirectory=/home/age_2023/Saidazimxon/cyber-bot
StandardOutput=journal
StandardError=journal
Restart=on-failure

[Install]
WantedBy=multi-user.target
